
.tree-cell:network {
	-fx-background: paleturquoise ;
}

.tree-cell:file {
	-fx-background: honeydew ;
}

.tree-cell:connection {
	-fx-background: powderblue ;
}

.tree-cell:database {
	-fx-background: lightcyan ;
}

.tree-cell:filled:hover {
	-fx-background-color: forestgreen, -fx-background ;
	-fx-background-insets: 0,2 ;
}

.tree-cell:filled:selected {
	-fx-background: forestgreen ;
}